<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Prctc">

        <!-- Splashscreen: LAUNCHER -->
    <activity
        android:name=".Splashscreen"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
    </activity>

    <activity android:name=".LoginActivity" android:exported="true"/>
    <activity android:name=".register" android:exported="true"/>
    <activity android:name=".MainActivity" android:exported="true"/>
    <activity android:name=".LaptopPredictorActivity" android:exported="true"/>
    <activity android:name=".MobilePredictorActivity" android:exported="true"/>
    <activity android:name=".TabletPredictorActivity" android:exported="true"/>
    <activity android:name=".HistoryActivity" android:exported="true"/>

    </application>
</manifest>
